{
    "OmbiDatabase": {
        "Type": "MySQL",
        "ConnectionString": "Server={{ mr_db_mariadb_endpoint }};Port=3306;Database=Ombi;User=ombi;Password={{ mr_db_password }}"
    },
    "SettingsDatabase": {
        "Type": "MySQL",
        "ConnectionString": "Server={{ mr_db_mariadb_endpoint }};Port=3306;Database=Ombi;User=ombi;Password={{ mr_db_password }}"
    },
    "ExternalDatabase": {
        "Type": "MySQL",
        "ConnectionString": "Server={{ mr_db_mariadb_endpoint }};Port=3306;Database=Ombi;User=ombi;Password={{ mr_db_password }}"
    }
}
